/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --ink-black: #0d1b2aff;
  --prussian-blue: #1b263bff;
  --dusk-blue: #415a77ff;
  --dusty-denim: #778da9ff;
  --alabaster-grey: #e0e1ddff;
  --remove-red: rgb(179, 39, 39);

  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  height: 100vh;
  background-color: var(--ink-black);
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: stretch;
  justify-content: center;
}

.container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(266px, 1fr));
  padding: 10px;
  margin-inline: 20vw;
  /* height: 100%;
  align-content: center; */
}

.card {
  background-color: var(--alabaster-grey);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.158);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
  position: relative;
  transition: transform 0.2s ease;
}

.card::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 10px;
  background-color: var(--dusk-blue);
  top: 0;
  left: 0;
  border-radius: 15px 0 0 15px;
}

.card:hover {
  transform: scale(1.02);
}

.card > div {
  color: var(--prussian-blue);
  position: relative;
}

.button-container {
  display: flex;
  flex: 0 1 auto;
  margin-inline: 20vw;
  padding: 10px;
  justify-content: center;
}

button {
  border: none;
  background-color: var(--dusk-blue);
  color: var(--alabaster-grey);
  padding-inline: 30px;
  padding-block: 15px;
  border-radius: 12px;
  font-weight: bold;
  transition: transform 0.5s ease;
}

button.remove {
  background-color: var(--remove-red);
  scale: 0.8;
}

/* button.add-books {
  grid-column: 1 / span 2;
  grid-row: last;
  width: max-content;
  justify-self: center;
} */

button:hover, button:focus {
  transform: scale(1.06);
  cursor: pointer;
}

dialog {
  border: 3px solid var(--dusk-blue);
  background-color: var(--alabaster-grey);
  border-radius: 12px;
  padding: 20px;
}

dialog::backdrop {
  backdrop-filter: blur(2px);
}

input[type="text"], input[type="number"] {
  outline: none;
  border: none;
  background-color: rgb(180, 180, 180);
  border-radius: 12px;
  padding-left: 10px;
}

input[type="checkbox"] {
  border-radius: 12px;
}

#new-book {
  display: grid;
  gap: 10px;
  grid-template-columns: auto 1fr;

}

#new-book label {
  grid-column: 1 / 2;
}

#new-book #isRead {
  justify-self: start;
}

#new-book #closeBtn {
  grid-column: 1 / span 2;

}





